/workspace/
/.workspace/

# Logs
*.log

# Flutter
/flutter/build/
/flutter/.dart_tool/
/flutter/.flutter-plugins
/flutter/.flutter-plugins-dependencies

# Laravel
/laravel/.phpunit.result.cache
/laravel/database/database.sqlite
/laravel/vendor/
/laravel/node_modules/
/laravel/public/build/

# Composer
composer.lock

# Release artifacts
/release/